/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.image {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.image img {
    width: 100%;
}

.image .info {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  
.image { text-align: center;
}

}

.page {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.task {
    width: 56%;
    display: inline-block;
    flex-grow: 1
}

.page__add-element {
    display: flex;
}

.task-ul {
    margin: 0;
    padding: 0px;
}

.task-list
.task-text {
    list-style: none;
}
input
button{
    outline: none;
}

.task-button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.task-button:hover {
    color: #3a3a3a;
}

/* Heading */
.task-text
.task-label[for="new-task"] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.task-input__txt {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.task-input__txt:focus {
    color: #333;
}

/* New Task */
.task-label[for="new-task"] {
    display: block;
    margin: 0 0 20px;
}

#new-task {
    width: 318px;
}

/* Task list */
.task-list {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list > * {
    vertical-align: middle;
}

.task-list > .task-input__box {
    margin: 0 10px;
}

.task-list > .task-label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.task-list > .task-input__txt {
    width: 226px;
}

.task-button.delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.task-button.delete img:hover {
    transform: rotateZ(0);
}

/* Completed */
.task-ul#page__complete .task-label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.task-ul .task-list .task-input__txt {
    display: none;
}

.task-ul .task-list.page__edit .task-input__txt {
    display: inline-block;
    width: 224px;
}

.task-ul .task-list.page__edit .task-label {
    display: none;
}